// Font Sizes
$XXL: 80px;
$XL: 60px;
$L: 40px;
$M: 30px;
$S: 18px;
$XS: 15px;

// Colors
$color1:black;
$color2: orange;
$color3: whitesmoke;

// Backgrounds
$bgColor1:black;
$bgColor2: orange;
$bgColor3: purple;