@import "./variables";

#mainContainer {
     display: flex;
     flex-direction: column;
     width: 100%;
     flex-grow: 1;

     #container {
          display: flex;
          font-size: $L;
          color: $color2;
          text-align: center;
          flex-grow: 1;
          margin: 30px;
          #picture {
               width: 35%;
               height: 35%;
          }
          #details {
               width: 60%;
               padding: 10px;
            
               h2 {
                    font-size: $L;
               }
               ol,
               p {
                    font-size: $M;
                    text-align: left;
               }
          }

     }

     #buttons {
          display: flex;
          justify-content: space-evenly;
          button {
               font-size: $M;
               width: 300px;
               margin: 5px;
               padding: 10px;
               border-radius: 9px;
               color: $color3;
               background-color: $bgColor3;
               cursor: pointer;
                        }
          button:hover {
               background-color: $bgColor2;
          }
     }
}

@media only screen and (max-width: 600px) {
     #mainContainer {
     #container {
          width:100%;
          display: flex;
          flex-direction: column;
          margin:0px;
          #picture {
               width: 100%;
              }
          #details {
               width: 100%;
               padding: 10px;
          }
     }
}}
